<nav
  class="bg-gray-800 border-b border-gray-700 sticky top-0 z-30"
  data-simple-nav="true"
>
  <div class="container mx-auto px-4">
    <div class="flex justify-start items-center h-16">
      <div class="flex-shrink-0 flex items-center cursor-pointer">
        {{#if brandLogo}}
        <img
          id="nav-logo"
          src="{{baseUrl}}{{brandLogo}}"
          alt="{{#if brandName}}{{brandName}}{{else}}TuHe PDF{{/if}} Logo"
          class="h-8 w-8"
        />
        {{else}}
        <img
          src="{{baseUrl}}images/light.png"
          alt="{{#if brandName}}{{brandName}}{{else}}TuHe PDF{{/if}} Logo"
          class="theme-logo theme-logo--light h-8 w-8"
        />
        <img
          id="nav-logo"
          src="{{baseUrl}}images/dark.png"
          alt="{{#if brandName}}{{brandName}}{{else}}TuHe PDF{{/if}} Logo"
          class="theme-logo theme-logo--dark h-8 w-8"
        />
        {{/if}}
        <span id="nav-brand" class="text-white font-bold text-xl ml-2">
          <a href="{{baseUrl}}"
            >{{#if brandName}}{{brandName}}{{else}}TuHe PDF{{/if}}</a
          >
        </span>
      </div>
    </div>
  </div>
</nav>
